#entries for this component:{{attacks.length}}
<form class="form-inline" #form="ngForm" (ngSubmit)="setCenter($event)" ac>
    <label class="form-group">Latitude:
        <input type="text" class="form-control" name="latitude" [(ngModel)]="latitude" placeholder="Enter latitude" required>
    </label>
    <label class="form-group">Latitude:
        <input type="text" class="form-control" name="longitude" [(ngModel)]="longitude" placeholder="Enter longitude" required>
    </label>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Go</button>
</form>
<button (click)="addRandPoint()">Add Random point</button>
<div id="floating-panel">
    <button (click)="toggleHeatmap()">Toggle Heatmap</button>
    <button (click)="changeGradient()">Change gradient</button>
    <button (click)="changeRadius()">Change radius</button>
    <button (click)="changeOpacity()">Change opacity</button>
    <button (click)="clearHeatMap()">Clear Heat</button>
</div>
<h3 *ngIf="loading">Loading...</h3>
<div id="gmap" #gmap></div>