<div>
    <h2>here's data</h2>
    <h5 id="disp-nav" *ngIf="!loading"><a (click)=prev()>Prev</a> -- Displaying Attacks {{rangeStart}} to {{rangeEnd}} of {{attacks.length}} -- <a (click)=next()>Next</a></h5>
    <table>
        <thead>
            <th id="region-head">Region</th>
            <th id="country-head">Country</th>
            <th id="city-head">City</th>
            <th id="year-head">Year</th>
            <th id="latitude-head">Latitude</th>
            <th id="longitude-head">Longitude</th>
            <th id="summary-head">Summary</th>
            <th id="atkType-head">Attack Type</th>
            <th id="trgtType-head">Target Type</th>
        </thead>
        <tbody>
            <h3 *ngIf="loading">Loading...</h3>
            <tr *ngFor="let attack of displayAttacks">
                <td>{{attack.region_txt}}</td>
                <td>{{attack.country_txt}}</td>
                <td>{{attack.city}}</td>
                <td>{{attack.iyear}}</td>
                <td>{{attack.latitude}}</td>
                <td>{{attack.longitude}}</td>
                <td><a *ngIf="attack.summary" href="http://jqueryui.com/themeroller/" title="{{attack.summary}}">Summary</a></td>
                <td>{{attack.attacktype1_txt}}</td>
                <td>{{attack.targtype1_txt}}</td>
            </tr>
        </tbody>
    </table>
    <h5 id="disp-nav" *ngIf="!loading"><a (click)=prev()>Prev</a> -- Displaying Attacks {{rangeStart}} to {{rangeEnd}} of {{attacks.length}} -- <a (click)=next()>Next</a></h5>
</div>
