#entries for this component:{{attacks.length}}

<div>
    <h2>here's data</h2>
    <h5 *ngIf="!loading">Showing entries {{rangeStart}} to {{rangeEnd}} of {{attacks.length}}</h5>
    <table>
        <thead>
            <th>Region</th>
            <th>Country</th>
            <th>City</th>
            <th>Year</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Summary</th>
            <th>Attack Type</th>
            <th>Target Type</th>
        </thead>
        <tbody>
            <h3 *ngIf="loading">Loading...</h3>
            <tr *ngFor="let attack of displayAttacks">
                <td>{{attack.region_txt}}</td>
                <td>{{attack.country_txt}}</td>
                <td>{{attack.city}}</td>
                <td>{{attack.iyear}}</td>
                <td>{{attack.latitude}}</td>
                <td>{{attack.longitude}}</td>
                <td>{{attack.summary}}</td>
                <td>{{attack.attacktype1_txt}}</td>
                <td>{{attack.targtype1_txt}}</td>
            </tr>
        </tbody>
    </table>
</div>