table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

#region-head {
    width: 215px;
}

#country-head {
    width: 160px;
}

#city-head {
    width: 130px;
}

#year-head {
    width: 40px;
}

#latitude-head {
    width: 85px;
}

#longitude-head {
    width: 95px;
}

#summary-head {
    width: 75px;
}

#atkType-head {
    width: 215px;
}

#trgtType-head {
    width: 215px;
}

#disp-nav {
    text-align: center;
}