<!--The content below is only a placeholder and can be replaced.-->
<h1 id="loading" *ngIf=loading>Loading Data. Please be patient.</h1>
<div id="nav">
    <h1>Welcome to {{ title }}!</h1>
    <p *ngIf="displayedAttacks.length > 0">Currently viewing {{displayedAttacks.length}} entries of {{attacks.length}}</p>
    <h3>Filter By Year:</h3>
    <select name="year" id="yearSelector" [(ngModel)]="filterYear">
        <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
    </select>
    <button (click)="filterByYear()">Filter</button>
</div>
<div id="wrapper">
    <div class="component" id="map">
        <app-map [attacks]='displayedAttacks' [loading]="loading"></app-map>
    </div>
    <div class="component" id="graph">
        <app-graph [attacks]='displayedAttacks'></app-graph>
    </div>
    <div class="component" id="display">
        <app-display [attacks]='displayedAttacks' [loading]="loading"></app-display>
    </div>
</div>