.component {
    border: 3px solid black;
    border-radius: 5px;
    display: inline-block;
}

h1 {
    background: black;
    color: white;
    padding: 10px;
    margin: 10px;
    font-weight: 200;
    display: inline-block
}

p {
    padding: 0px;
    margin: 0px;
}

h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

select {
    width: 115px;
}

#loading {
    position: absolute;
    font-size: 50px;
    /* margin: auto; */
    z-index: 1000;
    min-width: 745px;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#filter-bar {
    position: sticky;
    top: 0;
    margin-top: 60px;
    width: 170px;
}

#wrapper {
    vertical-align: top;
    margin: auto;
    width: 1300px;
}

#title, #map, #filter-bar, #wrapper {
    display: inline-block;
}

#title {
    position: absolute;
    vertical-align: top;
    z-index: 20;
}

#map, #graph {
    width: 49%;
    height: 500px;
    vertical-align: top;
    margin: auto;
}


#display {
    margin-top: 4px;
    min-width: 700px;
    width: 99%;
    min-height: 540px;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}