<script src="node_modules/chart.js/src/chart.js"></script>

  <div id="mainGraph">
    <canvas baseChart id="canvas"
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
    </canvas>
  </div>
  <button (click)="changeGraph()">Nah this shit boring</button>
  <button (click)="changeData()">Change Data</button>
